In [12]:
import csv
import pandas as pd
path = r".\arquivo.csv"
lista :list = []
with open(path,newline='') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        lista.append(row)

print(reader)
df = pd.DataFrame(lista)

<csv.DictReader object at 0x000001616B76BD10>

In [13]:
df

        nome idade peso
0     Thiago    34  105
1  Franciele    30   90
2     Emilly     9   40